<div>
  <!-- the event binding is used to bind the click event to the onSelectUser method -->
  <button (click)="onSelectUser(selectedUser)">
    <!-- the square brackets are used to bind the src attribute to the selectedUser.avatar property -->
    <img
      [src]="imagePath"
      [alt]="selectedUser.name"
    />
    <!-- <img src="assets/images/users/{{ selectedUser.avatar }}" alt="{{ selectedUser.avatar}}" />  -->
    <!-- the binding function used here is the property binding -->
    <span>{{ selectedUser.name }}</span>
  </button>
</div>
