<!-- Header Component -->
<app-header></app-header>
<main>
  <ul id="users">
    <li>
      <app-user  (select)="onSelect($event)"></app-user>
    </li>
    @for (user of users; track user.id) {
      <li>
        <app-reuseable-user
          [user]="user"
          [selected]="user.id === selectedUserId"
          (select)="onSelect($event)"
        ></app-reuseable-user>
      </li>
    }
  </ul>
  @if(name) {
    <app-tasks [name]="name" [userId]="selectedUserId"></app-tasks>
  } @else {
    <p id="no-user-selected">No user selected yet</p>
  }
</main>
