div.header-container{
    background-color: #000;
    color: #4d39e3;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: left;
}

div.header-container p {
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
}